body {
	background-color: #fffffd;
	color: #010101;
	font-family: "Josefin sans", sans-serif;
	font-size: 36px;
}

img {
	border: 1px solid #ccc;
	width: 100%;
}

h1 { 
	font-weight: 700;
	font-size: 1.5em;
	margin: .25em 0 1em .25em;
	float: left;
}

span {
	font-size: .35em;
	font-weight: 400;
}

nav {
	float: right;
	font-size: .75em;
	text-decoration: underline;
	font-weight: 400;
	margin: .5em .5em;
	padding: .75em 0 0 0;
}

h3 {
	font-weight: 400;
	font-size: 1em;
	float: left;
}

h4 {
	font-weight: 400;
	font-size: 1em;
	float: right;
}

p {
	display: block;
	font-family: "Gentium Basic", serif;
	font-size: .5em;
	clear: both;
	padding: 1em;
}

a {
	text-decoration: none;
	color: #010101;
}

a:hover {
	color: #1abc9c;
}

#wrapper {
	width: 100%;
	clear: both;
}

.words {
	float: left;
	text-align: left;
	width: 36%;
	padding: 0 .5em 0 .5em;
	/*border-top: 1px solid #ccc;*/
}
.image {
	float: left;
	width: 60%;
}

@media only screen and (max-width: 500px) {
	h1, span, nav {
		float: none;
		text-align: center;
	}
	.words {
		float: none;
		width: 100%;
		padding: .25em .1em .25em .1em;
	}
	.image {
		float: none;
		width: 100%;
		border-bottom: 1px dotted black;
	}
	p {
		padding: 0;
	}
	img {
		border: none;
	}
}