body {
	background-color: #fffffd;
	color: #101010;
	font-family: "Josefin sans", sans-serif;
	font-size: 36px;
}

img {
	border: 1px solid #ccc;
	width: 100%;
}

h1 { 
	font-weight: 400;
	font-size: 1.5em;
	margin: .75em 0 .75em .25em;
	float: left;
}

span {
	font-size: .35em;
}

nav {
	float: right;
	font-size: .75em;
	text-decoration: underline;
	margin: 1.5em;
	padding: .75em 0 0 0;
}

h2 {
	font-weight: 300;
	font-size: .5em;
	float: right;
}

h3 {
	font-weight: 400;
	font-size: 1em;
	float: left;
}

h4 {
	font-weight: 400;
	font-size: 1em;
	float: right;
}

p {
	display: block;
	font-family: "Gentium Basic", serif;
	font-size: .5em;
	clear: both;
	padding: 1em;
}

a {
	text-decoration: none;
	color: #010101;
}

#wrapper {
	width: 100%;
	clear: both;
}

.words {
	float: left;
	text-align: left;
	width: 36%;
	padding: 0 .5em 0 .5em;
	/*border-top: 1px solid #ccc;*/
}
.image {
	float: left;
	width: 60%;
}