
body {
	background-color: #fffffd;
	color: #111;
	font-family: "Oswald", "Gill sans", sans-serif;
	font-size: 36px;
	max-width: 1800px;
}

header {
	padding: .5em 0 2em 0;
}

h1 { 
	font-weight: 400;
	font-size: 1.75em;
	margin: .25em 0 1em .25em;
	float: left;
}

h2 {
	display: inline-block;
	font-weight: 300;
	font-size: .75em;
	margin: 1.75em 0 0 .5em;
}

nav {
	float: right;
	font-size: .75em;
	font-weight: 300;
	margin: 1.75em .5em 0 .5em;
}

h3 {
	font-weight: 400;
	font-size: 1em;
	text-align: left;
	padding-top: .25em;
	float: left;
}

h4 {
	font-weight: 400;
	font-size: 1em;
	text-align: left;
	padding-top: .25em;
	float: right;
}

p {
	display: block;
	font-family: "Droid serif", "Garamond", serif;
	font-size: .55em;
	font-weight: thin;
	color: #111;
	padding: 1em 0;
	text-align: left;
	clear: both;
}

img {
	border: 1px solid #ccc;
	width: 100%;
}

img:hover {
	opacity: 0.75;
}

a {
	text-decoration: none;
	color: #111;
}

a:hover {
	color: #1abc9c;
}

#wrapper {
	width: 100%;
	clear: both;
	padding-left: .5em;	
}
#wrapper > div {
	clear: both;
}

.words {
	float: left;
	width: 35%;
	clear: right;
	margin: 0 .25em 0 3em;
}
.image {
	float: right;
	width: 50%;
	margin-right: .75em;
}

@media only screen and (max-width: 1000px) {
	.words {
		margin-left: .25em;
		width: 45%;
	}
}

@media only screen and (max-width: 800px) {
	header {
		text-align: center;
		margin: 1em;
		padding: 0;

	}
	h1 {
		float: none;
		font-size: 1.75em;
		margin: 0;
		padding: 0;
	}

	h2 {
		float: none;
		font-size: .75em;
		margin: .25em 0 .75em 0;
	}

	nav {
		float: none;
		font-size: .5em;
		margin: 0;
	}
	
	h3 {
		float: left;
		font-size: .75em;
		padding: .75em 0;
	}

	h4 {
		float: right;
		font-size: .75em;
		padding: .75em 0;
	}

	p {
		font-size: .5em;
		text-align: justify;
		padding: 0 0 .75em 0;
	}

	img {
		border: none;
	}

	#wrapper {
		padding: 0;
	}

	.words {
		float: none;
		width: 90%;
		margin: auto;
	}

	.image {
		float: none;
		width: 100%;
		margin: auto;
		border-bottom: 1px dotted black;
	}

}

