body {
	background-color: #d8d6d7;
	color: #88747b;
}
nav {
	height: 50px;
	background-color: #88747b;
	line-height: 50px;
	padding: 25px; 
}
footer {
	clear: both;
	background-color: #88747b;
	color: #d1e9e3;
	height: 50px;
	line-height: 50px;
	padding: 25px;
}
div {
	display: inline-block;
	background-color: #d8d6d7;
	color: 455513;
	text-align: center;
	line-height: 700px;
	width: 50%;
	height: 400px;
	margin: 10px;
	float: right;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;

}

li {
	float: left;
	width: 50%;
	height: 133.333px;
	line-height: 133.333px;
	text-align: center;
	color: #000;
	background-color: #d1e9e3;
	outline: 3px solid #222;
}

span {
	font-size: 12px;
}