.column1 {
	display: inline-block;
	float: right;
	width: 33%;
	clear: both;
}
.column2 {
	display: inline-block;
	width: 33%;
	clear: both;
}
.column3 {
	display: inline-block;
	float: left;
	width: 33%;
	clear: both;
}

#image {
	width: 50%;
}
#words {
	width: 50%;
}